/venv
*.pyc
*~
*.idea/
#.gitignore
.DS_Store
test.db
configuration/gcp_account.json
configuration/app_config.py
twittermemories/TEMP_TWEET_STORAGE
tweet.js
archive.json
file_test.py
db_prod_init.py
twittermemories/testing.db
tests/testtweets.js